div.justifie blockquote i.zmdi.zmdi-bike{
	margin-left: 10px;
	color: #dbddde;
}

div.justifie blockquote span.highlight i.zmdi.zmdi-bike{
	margin-left: 10px;
	color: #b4c47c;
}

div.road_map {
	margin-left: 20px;
}

div.justifie blockquote {
	list-style: inherit;
	margin-left: 10px;
}


div.justifie blockquote ul.dbb_bullet li{
	list-style: inherit;
	margin-left: 10px;
}

form#webform-submission-nous-rejoindre-add-form div#edit-actions input#edit-actions-submit{
	background: #2196F3;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	padding: 8px 15px;
	border: none;
}

form#webform-submission-nous-rejoindre-add-form div label.js-form-required.form-required::after { 
  content: " *";
  color: #ff0000;
}

div.messages.messages--status ul.messages__list{
	color: #064C06;
	background: #74C474;
	padding-left: 10px;
}

div.messages.messages--error div ul.messages__list{
	color: #550000;
	background: #ffaaaa;
	padding-left: 10px;
}

div.justifie {
    text-align: justify;
    text-justify: inter-word;
}

#block-languageswitcher li{
	display: inline;
	padding-right: 5px;
}

header .area-main-menu .gva-search-region{position:absolute;right:60px;top:25px;z-index:9;}
header .site-branding-logo{display:inline-block;padding-bottom:20px;}

div#block-gavias-huggi-gaviasblockbuiderhome1.block.block-gavias-blockbuilder.block-gavias-blockbuilder-blockgavias-blockbuilder-block____1.no-title div.content.block-content div.gavias-blockbuilder-content div.gbb-row div.bb-inner.default div.bb-container.container div.row div.row-wrapper.clearfix div.gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12.rouyea_team, 
div#block-gaviasblockbuiderhome1fr.block.block-gavias-blockbuilder.block-gavias-blockbuilder-blockgavias-blockbuilder-block____11.no-title div.content.block-content div.gavias-blockbuilder-content div.gbb-row div.bb-inner.default div.bb-container.container div.row div.row-wrapper.clearfix div.gsc-column.col-lg-3.col-md-3.col-sm-6.col-xs-12.rouyea_team
{
	width: 20%;
	
}

#block-gavias-huggi-mainnavigation {
	margin-right: 9%;
}

	
form#webform-submission-quote-add-form fieldset#edit-quote div.fieldset-wrapper div#edit-quotecontainer,
form#webform-submission-quote-add-form fieldset#edit-quote div.fieldset-wrapper fieldset#edit-current-address  div.fieldset-wrapper div#edit-currentaddresscontainer,
form#webform-submission-quote-add-form fieldset#edit-destination-address div.fieldset-wrapper div#edit-destinationaddresscontainer {
	text-align: center;
}

form#webform-submission-quote-add-form fieldset#edit-quote div.fieldset-wrapper div#edit-quotecontainer div.js-form-item.form-item,
form#webform-submission-quote-add-form fieldset#edit-quote  div.fieldset-wrapper fieldset#edit-current-address  div.fieldset-wrapper div#edit-currentaddresscontainer  div.js-form-item.form-item,form#webform-submission-quote-add-form fieldset#edit-destination-address div.fieldset-wrapper div#edit-destinationaddresscontainer div.js-form-item.form-item{
	margin: 10px 8px;
}

form#webform-submission-quote-add-form fieldset div div input{
	width: 270px;
	padding: 0 10px;
	height: 40px;
}

form#webform-submission-quote-add-form fieldset div div input.form-radio{
	width: inherit;
	padding: inherit;
	height: inherit;	
}
form#webform-submission-quote-add-form fieldset div div#edit-quotecontainer div input{
	width: 199px;
}

form#webform-submission-quote-add-form fieldset#edit-quote div  div#edit-quotecontainer div  input#edit-moving-date{
	width: 115px;
}

form#webform-submission-quote-add-form fieldset div  div div{
	display: inline-block;
}

form#webform-submission-quote-add-form {
	margin: 0 auto;	
}


form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-quote.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper fieldset#edit-current-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-currentaddresscontainer.js-form-wrapper.form-wrapper fieldset#edit-elevator--wrapper.webform-has-field-prefix.radios--wrapper.fieldgroup.form-composite.webform-composite-hidden-title.js-webform-type-radios.webform-type-radios.js-form-item.form-item.js-form-wrapper.form-wrapper,
form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-destination-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-destinationaddresscontainer.js-form-wrapper.form-wrapper fieldset#edit-elevatordestination--wrapper.webform-has-field-prefix.radios--wrapper.fieldgroup.form-composite.webform-composite-hidden-title.js-webform-type-radios.webform-type-radios.js-form-item.form-item.js-form-wrapper.form-wrapper{
	width: 270px;
	height: 42px;
	display: inline-block;
	margin: 8px 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-align: left;
	padding: 0 10px;	
}

form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-quote.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper fieldset#edit-current-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-currentaddresscontainer.js-form-wrapper.form-wrapper fieldset#edit-elevator--wrapper.webform-has-field-prefix.radios--wrapper.fieldgroup.form-composite.webform-composite-hidden-title.js-webform-type-radios.webform-type-radios.js-form-item.form-item.js-form-wrapper.form-wrapper legend,
form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-destination-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-destinationaddresscontainer.js-form-wrapper.form-wrapper fieldset#edit-elevatordestination--wrapper.webform-has-field-prefix.radios--wrapper.fieldgroup.form-composite.webform-composite-hidden-title.js-webform-type-radios.webform-type-radios.js-form-item.form-item.js-form-wrapper.form-wrapper legend{
	margin: 0px;
	border: 0px;
}

form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-quote.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper fieldset#edit-current-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-currentaddresscontainer.js-form-wrapper.form-wrapper fieldset#edit-elevator--wrapper.webform-has-field-prefix.radios--wrapper.fieldgroup.form-composite.webform-composite-hidden-title.js-webform-type-radios.webform-type-radios.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-elevator.js-webform-radios.webform-options-display-one-column div.js-form-item.form-item.js-form-type-radio.form-item-elevator.js-form-item-elevator label.option,
form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-quote.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper fieldset#edit-current-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-currentaddresscontainer.js-form-wrapper.form-wrapper fieldset#edit-elevator--wrapper.webform-has-field-prefix.radios--wrapper.fieldgroup.form-composite.webform-composite-hidden-title.js-webform-type-radios.webform-type-radios.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-elevator.js-webform-radios.webform-options-display-one-column div.js-form-item.form-item.js-form-type-radio.form-item-elevator.js-form-item-elevator label.option,
form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-destination-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-destinationaddresscontainer.js-form-wrapper.form-wrapper fieldset#edit-elevatordestination--wrapper.webform-has-field-prefix.radios--wrapper.fieldgroup.form-composite.webform-composite-hidden-title.js-webform-type-radios.webform-type-radios.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-elevatordestination.js-webform-radios.webform-options-display-one-column div.js-form-item.form-item.js-form-type-radio.form-item-elevatordestination.js-form-item-elevatordestination label.option,
form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-destination-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-destinationaddresscontainer.js-form-wrapper.form-wrapper fieldset#edit-elevatordestination--wrapper.webform-has-field-prefix.radios--wrapper.fieldgroup.form-composite.webform-composite-hidden-title.js-webform-type-radios.webform-type-radios.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-elevatordestination.js-webform-radios.webform-options-display-one-column div.js-form-item.form-item.js-form-type-radio.form-item-elevatordestination.js-form-item-elevatordestination label.option
{

	font-family: "Roboto", serif;
	font-size: 14px;
	line-height: 1.8;
	font-weight: 400;
	font-weight: normal;	
}

form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-destination-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-destinationaddresscontainer.js-form-wrapper.form-wrapper fieldset#edit-elevatordestination--wrapper.webform-has-field-prefix.radios--wrapper.fieldgroup.form-composite.webform-composite-hidden-title.js-webform-type-radios.webform-type-radios.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper span.field-prefix div.description,
form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-quote.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper fieldset#edit-current-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-currentaddresscontainer.js-form-wrapper.form-wrapper fieldset#edit-elevator--wrapper.webform-has-field-prefix.radios--wrapper.fieldgroup.form-composite.webform-composite-hidden-title.js-webform-type-radios.webform-type-radios.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper span.field-prefix div.description,
form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-quote.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper div#edit-quotecontainer.js-form-wrapper.form-wrapper div.js-form-item.form-item.js-form-type-date.form-item-moving-date.js-form-item-moving-date.form-no-label div{
	font-family: "Roboto", serif;
	font-size: 14px;
	line-height: 1.8;
	color: #adadad;
	font-weight: 400;
	font-weight: normal;		
}

form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-quote.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper legend,
form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-quote.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper div.fieldset-wrapper fieldset#edit-current-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper legend,
form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-destination-address.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper legend,
form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle fieldset#edit-additional-information.js-webform-type-fieldset.webform-type-fieldset.js-form-item.form-item.js-form-wrapper.form-wrapper legend
{
	text-align: center;
	text-transform: uppercase;
	color: #2196F3;	
	border-bottom: 1px solid #ffde10;
	margin-top: 30px;	
}

form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle div#edit-actions.form-actions.js-form-wrapper.form-wrapper input#edit-submit.webform-button--submit.button.button--primary.js-form-submit.form-submit{
	width: auto;
	height: auto;
	display: inline-block;
	font-size: 18px;
	padding: 10px 25px;
	border: 2px solid #2196F3;
	color: #2196F3;
	transition: .3s;
	font-family: Arial;
	font-weight: 700;
	background: #fff;
	margin-top: 20px;
	margin-bottom: 50px;
	cursor: pointer;	
}

form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle div#edit-actions.form-actions.js-form-wrapper.form-wrapper input#edit-submit.webform-button--submit.button.button--primary.js-form-submit.form-submit:hover {
    background: #2196F3;
    color: #fff;
}

form#webform-submission-quote-add-form.webform-submission-form.webform-submission-add-form.webform-submission-quote-form.webform-submission-quote-add-form.js-webform-details-toggle.webform-details-toggle div#edit-actions.form-actions.js-form-wrapper.form-wrapper{
	text-align: center;
}

div#block-maplocation.block.block-block-content div.content.block-content{
	padding: 0px;
}

form#contact-message-feedback-form.contact-message-feedback-form.contact-message-form.contact-form div#edit-field-service-wrapper.field--type-list-string.field--name-field-service.field--widget-options-select.js-form-wrapper.form-wrapper div.js-form-item.form-item.js-form-type-select.form-item-field-service.js-form-item-field-service label{
	display: inline-block;
	font-weight: normal;
}

/*div.gavias_sliderlayer.rev_slider_wrapper div.rev_slider.revslider-initialised.tp-simpleresponsive ul.tp-revslider-mainul li.tp-revslider-slidesli div.tp-parallax-wrap div.tp-loop-wrap div.tp-mask-wrap div.tp-caption.large_bolder_white.skrollable.skrollable-after a.btn-slide*/
div.gavias_sliderlayer a.btn-slide{
	font-size: 35px
}

@media screen and (max-width:890px) {
	form#webform-submission-quote-add-form {
		width: 95%!important;
	}

}

@media only screen and (min-width:890px) {

	form#webform-submission-quote-add-form {
		width: 870px;
	}

}

@media screen and (max-width:974px) {
	#block-languageswitcher{
		position: absolute;
		right: 6px;
		top: 60px;
		z-index: 10;
	}
}	
@media only screen and (min-width:974px) {
	#block-languageswitcher{
		position: absolute;
		right: 6px;
		top: 30px;
		z-index: 10;
	}	
	
}